.header {
  position: sticky;
  top: 0;
  height: 56px;
  padding: 0 20px;
  background: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(138, 138, 138, 0.09);
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  margin: 0 30px;

  &__item {
    &_color-red {
      color: #ff0000;
    }
  }
}

.search-form {
  display: flex;
  flex-basis: 50%;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  &__input {
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px #f8f8f8;
    padding: 2px 6px;
    font-size: 16px;
    margin: 0px;
    height: 25px;
    width: 100%;
    outline: none;
  }

  &__button {
    cursor: pointer;
    width: 65px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 0 2px 2px 0;
    border-left: none;
    margin: 0;
    outline: none;

    &:hover {
      box-shadow: 0 1px 4px #0000001a;
      .icon-comment {
        opacity: 1;
      }
    }
  }
}

.icon-comment {
  opacity: 0.4;
}

.user-block {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user-account {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background: #77604d;
}
