.videos__item {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  flex: 0 0 260px;
  margin: 0 5px;
  height: 250px;
  text-decoration: none;

  .video__img {
    width: 100%;
  }

  .video__title {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .video__info {
    display: flex;
    flex-direction: column;  
    font-size: 12px;
    font-weight: 500;
    color: #5c5c5c;
  }

  .video__channel {
    margin-bottom: 3px;
  }
}

.videos-result__item {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  text-decoration: none;

  .video__img {
    margin-right: 15px;
  }

  .video__content {
    display: flex;
    flex-direction: column;
  }

  .video__title {
    margin-top: 5px;
    font-size: 18px;
  }

  .video__info {
    margin: 5px 0;
    font-weight: 400;
    color: #5c5c5c;
  }

  .video__channel::after {
    content: '•';
    margin: 0 4px;
  }
}
